*{
    padding: 0;
    margin: 0;
    box-shadow: none;
}

.white{
    background-color:  aqua;
    height: 45px;

}
main{
    background:linear-gradient(180deg,rgb(253, 253, 253) 40%,rgba(101, 116, 209, 0.3) 100%);
    height: 100%;
    font-family: 'roboto';
    line-height: 25px;
}
.container{
    width: 85%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
.first-con{
    width: 100%;
    height: 300px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;

}
.container .first-con .section1 p {
    margin-top: 20px;
    margin-bottom: 40px;

}
.section1{
    width: 300px;
    margin-top: 25px;
}
.section1 h1{
    line-height: 35px;
}
.container .first-con .section1 button{
    background: linear-gradient(360deg,rgba(243,54,165,80%) 0%,rgb(211, 80, 50) 70%);
    height: 40px;
    color: white;
    width: 100px;
    border-radius: 1.5rem;
    border-style: none;
}
.container .first-con .section2{
    position: relative;
    margin-right: 50px;

}
   
img{ 
    width: 200px;
    height: 300px;
    border-radius: 6rem;
    margin-right: 90px;

}

.container .first-con .section2 .pricetag{
    background-color: rgb(247, 241, 241);
    width: 120px;
    height: 70px;
    padding: 0.5rem;
    border-radius: 0.3rem;
    position: absolute;
    top: 50px;
    left:180px; 


}
.container .first-con .section2 .hours{
    background-color: rgb(247, 241, 241);
    width: 120px;
    height: 70px;
    padding: 0.5rem;
    border-radius: 0.3rem;
    /* position: left; */
    position: absolute;
    top: 150px;
    right: 170px;
}

img{
    width: 200px;
    height: 270px;
}

.second-con{
    /* background-color: rgb(178, 170, 186); */
    height: 600px;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 1fr 1fr;
    gap: 20px 10px;
    margin: 0 auto;
    width: 100%;
}

.box-box1, .box-box2, .box-box3, .box-box4, .box-box5, .box-box6{
    background-color: white;
    width: 350px;
    height: 250px;
    border-radius: 18px; 
    padding-left: 15px;
    
} 
.icon{
    background: linear-gradient(360deg,rgba(243,54,165,80%) 0%,rgb(211, 80, 50) 70%);
    color: rgb(232, 227, 219);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
} 
a{ 
    color: rgb(197, 44, 172);
    /*color: rgb(174, 31, 60);*/
    margin-top: 20px;
    text-decoration: none;
} 
h3{
    margin-bottom: 20px;
} 
p{
    color: rgb(172, 168, 168);
    margin-bottom: 40px;
} 
.box-box1{ 
    /* width: 300px; */
    /* height: 150px;  */
    background: linear-gradient(360deg,rgba(243,54,165,80%) 0%,rgb(211, 80, 50) 70%);
    color: #fff;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
}

.foot .blue{
    padding-left: 100px;
    background-color: rgb(19, 24, 62);
    color: white;
    height: 70px;
}

 nav ul li{
    display: inline-block;
    padding-right: 600px;
    color: white;
    width: 50px;
    height: 60px;
    
}

.btngsn2{
    width: 100px;
    height: 30px;
    border-radius: 15px;
    border-style: none;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 450px;
    font-size: 10px;
    color: rgb(204, 199, 199);
    background:linear-gradient(180deg,rgb(119, 62, 186) 10%,rgba(227, 44, 173,80%) 80%);
}


@media screen and (max-width:1366px) {
    .second-con{ grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100%;
    }
}
@media screen and (max-width:950px) {
    .second-con{ grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 1300px;
    }
}
.blue{
    height: 60px;

}
@media screen and (max-width:950px){
    .first-con{
        display: block;
        height: 620px;
        width: 85%;
    }
    .section2{
        margin-top: 40px;
        margin-left: 15px;
       
    }
    .hours{
        top: 150px;
    left: -50px;
    }

}